.banana {
    color: red;
    margin-top: 500px;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 300px;
    text-align: center;
}

.input-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 300px;
    max-width: 100%;
}

.btn {
    margin-top: 10px;
}


