{% extends "index.html" %}

{% block style %}
<link href="styles.css" rel="stylesheet">
{% endblock %}
{% block main %}
<!-- <div  class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>      
</div> -->

<p class="banana">
    lorem ipsum my ass
</p>




{% endblock %}
